.text-field{
    -fx-background-color: black;
    -fx-background-radius: 0;
    -fx-text-fill: white;
}

.text-area{
    -fx-text-fill: white;
}

.text-area .content{
    -fx-background-color: black;
    -fx-background-radius: 0;
}

